<form role="form" class="inline-form" action="?/wordfilters" method="post">
	<input type="hidden" name="token" value="{{ token }}">
	<div class="form-group">
		<label for="word">{% trans 'Word' %}:</label>
		<input class="form-control" id="word" name="word" type="text" size="60" value="{{ word_insertion|e }}">
	</div>
	
	<div class="form-group">
		<label for="counterpart">{% trans 'Change to' %}:</label>
		<input class="form-control" id="counterpart" name="counterpart" type="text" size="60" value="{{ counterpart_insertion|e }}">
	</div>
	
	<div class="checkbox">
		<label>
			<input type="checkbox" name="is_regex">{% trans 'Regular expression' %}
		</label>
	</div>
	<div class="form-group">
		<label>{% trans 'Boards' %}:</label>
	</div>
	{% for board in boards %}
		<div class="checkbox">
			<label>
				<input type="checkbox" name="check_boards[]" value="{{ board.uri }}">{{ board.uri }}
			</label>
		</div>
	{% endfor %}

	<button type="submit" class="btn btn-default">{% trans 'Insert' %}</button>
</form>
<!-- <p class="unimportant">{% trans '(Search is case-insensitive and based on keywords. To match exact phrases, use "quotes". Use an asterisk (*) for wildcard.)' %}</p> -->